<app-navbar></app-navbar>
<div class="m-10 mt-[130px] overflow-x-auto bg-gray-100">
    <!-- Search input -->
    <div class="relative float-left m-[2px] mb-3 mr-5">
        <input
                id="inputSearch"
                type="text"
                placeholder="Search..."
                class="block w-64 rounded-lg border py-2 pl-10 pr-4 text-sm focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-400"
        />
    </div>

    <!-- Add button -->
    <div class="relative float-right m-[5px] mb-3 hidden sm:block">
        <button
                class="bg-blue-500 text-white py-2 px-4 rounded-xl hover:bg-gray-100 hover:text-blue-500 border border-1 hover:border-blue-500 transition duration-300"
                (click)="openAddModal()"
        >
            Add Article
        </button>
    </div>

    <!-- Table -->
    <table class="min-w-full whitespace-nowrap text-left text-xs">
        <thead class="border-b-2 border-t uppercase tracking-wider">
        <tr>
            <th class="border-x px-6 py-2">Title</th>
            <th class="border-x px-6 py-2">Content</th>
            <th class="border-x px-6 py-2">Author</th>
            <th class="border-x px-6 py-2">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let article of articles" class="border-b hover:bg-neutral-200">
            <th class="border-x px-6 py-2">{{ article.title }}</th>
            <td class="border-x px-6 py-2">{{ article.content }}</td>
            <td class="border-x px-6 py-2">{{ article.author }}</td>
            <td class="border-x px-6 py-2">
                <button
                        class="bg-gray-100  text-yellow-500 py-1 px-3 rounded border border-1 border-yellow-500 hover:bg-yellow-400 hover:text-white transition duration-200"
                        (click)="openUpdateModal(article)"
                >
                    Update
                </button>
                <button
                        class="bg-red-500 text-white py-1 px-3 rounded hover:bg-red-400 ml-2"
                        (click)="openDeleteModal(article.id)"
                >
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Add Modal -->
<div *ngIf="showAddModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white rounded-lg shadow-lg p-6 w-96">
        <h2 class="text-lg font-semibold mb-4">Add Article</h2>
        <form (ngSubmit)="onAddArticle()">
            <div class="mb-4">
                <input
                        type="text"
                        [(ngModel)]="newArticle.title"
                        name="title"
                        placeholder="Title"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                        required
                />
            </div>
            <div class="mb-4">
                <textarea
                        [(ngModel)]="newArticle.content"
                        name="content"
                        placeholder="Content"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                        required
                ></textarea>
            </div>
            <div class="mb-4">
                <input
                        type="text"
                        [(ngModel)]="newArticle.author"
                        name="author"
                        placeholder="Author"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                        required
                />
            </div>
            <div *ngIf="addErrorMessage" class="text-red-500 mb-4">
                {{ addErrorMessage }}
            </div>
            <div class="flex justify-end space-x-4">
                <button
                        type="button"
                        class="px-4 py-2 bg-gray-300 rounded-xl hover:bg-gray-200 transition duration-300"
                        (click)="closeAddModal()"
                >
                    Cancel
                </button>
                <button
                        type="submit"
                        class="px-4 py-2 bg-green-500 text-white rounded-xl hover:bg-green-400 transition duration-300"
                >
                    Add
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Update Modal -->
<div *ngIf="showUpdateModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white rounded-lg shadow-lg p-6 w-96">
        <h2 class="text-lg font-semibold mb-4">Update Article</h2>
        <form (ngSubmit)="onUpdateArticle()">
            <div class="mb-4">
                <input
                        type="text"
                        [(ngModel)]="editArticle.title"
                        name="title"
                        placeholder="Title"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                        required
                />
            </div>
            <div class="mb-4">
                <textarea
                        [(ngModel)]="editArticle.content"
                        name="content"
                        placeholder="Content"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                        required
                ></textarea>
            </div>
            <div class="mb-4">
                <input
                        type="text"
                        [(ngModel)]="editArticle.author"
                        name="author"
                        placeholder="Author"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                        required
                />
            </div>
            <div *ngIf="updateErrorMessage" class="text-red-500 mb-4">
                {{ updateErrorMessage }}
            </div>
            <div class="flex justify-end space-x-4">
                <button
                        type="button"
                        class="px-4 py-2 bg-gray-300 rounded-xl hover:bg-gray-200 transition duration-200"
                        (click)="closeUpdateModal()"
                >
                    Cancel
                </button>
                <button
                        type="submit"
                        class="px-4 py-2 bg-green-500 text-white rounded-xl hover:bg-green-400 transition duration-200"
                >
                    Update
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Delete Modal -->
<div *ngIf="showDeleteModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white rounded-lg shadow-lg p-6 w-96">
        <h2 class="text-lg font-semibold mb-4">Delete Article</h2>
        <p class="mb-4">Are you sure you want to delete this article?</p>
        <div *ngIf="generalErrorMessage" class="text-red-500 mb-4">
            {{ generalErrorMessage }}
        </div>
        <div class="flex justify-end space-x-4">
            <button
                    class="px-4 py-2 bg-gray-300 rounded-lg hover:bg-gray-200 transition duration-300"
                    (click)="closeDeleteModal()"
            >
                Cancel
            </button>
            <button
                    class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-400 transition duration-300"
                    (click)="onDeleteArticle()"
            >
                Delete
            </button>
        </div>
    </div>
</div>
<app-footer></app-footer>
