<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">
            © 2025 Gestion d'Agence. Tous droits réservés.
        </p>
        <div class="flex flex-wrap justify-center md:justify-end space-x-4 mt-2 md:mt-0">
            <a routerLink="/dashboard">Tableau de bord</a>
            <a routerLink="/client">Clients</a>
            <a routerLink="/vente">Ventes</a>
            <a routerLink="/pack">Achats</a>
            <a routerLink="/provider">Fournisseurs</a>
            <a routerLink="/article">Articles</a>
        </div>
    </div>
</footer>