<app-navbar></app-navbar>
<div class="m-10 mt-[130px] overflow-x-auto bg-gray-100">
    <!-- Search input -->
    <div class="relative float-left m-[2px] mb-3 mr-5">
        <input
                id="inputSearch"
                type="text"
                placeholder="Search..."
                class="block w-64 rounded-lg border py-2 pl-10 pr-4 text-sm focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-400"
        />
    </div>

    <!-- Add button -->
    <div class="relative float-right m-[5px] mb-3 hidden sm:block">
        <button
                class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-400"
                (click)="openAddModal()"
        >
            Add Pack
        </button>
    </div>

    <!-- Table -->
    <table class="min-w-full whitespace-nowrap text-left text-xs">
        <thead class="border-b-2 border-t uppercase tracking-wider">
        <tr>
            <th class="border-x px-6 py-2">Name</th>
            <th class="border-x px-6 py-2">Description</th>
            <th class="border-x px-6 py-2">Price</th>
            <th class="border-x px-6 py-2">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pack of packs" class="border-b hover:bg-neutral-100">
            <th class="border-x px-6 py-2">{{ pack.name }}</th>
            <td class="border-x px-6 py-2">{{ pack.description }}</td>
            <td class="border-x px-6 py-2">{{ pack.price | currency }}</td>
            <td class="border-x px-6 py-2">
                <button
                        class="bg-yellow-500 text-white py-1 px-3 rounded hover:bg-yellow-400"
                        (click)="openUpdateModal(pack)"
                >
                    Update
                </button>
                <button
                        class="bg-red-500 text-white py-1 px-3 rounded hover:bg-red-400 ml-2"
                        (click)="openDeleteModal(pack.id)"
                >
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Add Modal -->
<div *ngIf="showAddModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white rounded-lg shadow-lg p-6 w-96">
        <h2 class="text-lg font-semibold mb-4">Add Pack</h2>
        <form (ngSubmit)="onAddPack()">
            <div class="mb-4">
                <input
                        type="text"
                        [(ngModel)]="newPack.name"
                        name="name"
                        placeholder="Name"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                        required
                />
            </div>
            <div class="mb-4">
                <input
                        type="text"
                        [(ngModel)]="newPack.description"
                        name="description"
                        placeholder="Description"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                        required
                />
            </div>
            <div class="mb-4">
                <input
                        type="number"
                        [(ngModel)]="newPack.price"
                        name="price"
                        placeholder="Price"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                        required
                />
            </div>
            <div *ngIf="addErrorMessage" class="text-red-500 mb-4">
                {{ addErrorMessage }}
            </div>
            <div class="flex justify-end space-x-4">
                <button
                        type="submit"
                        class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-400"
                >
                    Add
                </button>
                <button
                        type="button"
                        class="px-4 py-2 bg-gray-300 rounded-lg hover:bg-gray-200"
                        (click)="closeAddModal()"
                >
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Update Modal -->
<div *ngIf="showUpdateModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white rounded-lg shadow-lg p-6 w-96">
        <h2 class="text-lg font-semibold mb-4">Update Pack</h2>
        <form (ngSubmit)="onUpdatePack()">
            <div class="mb-4">
                <input
                        type="text"
                        [(ngModel)]="editPack.name"
                        name="name"
                        placeholder="Name"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                        required
                />
            </div>
            <div class="mb-4">
                <input
                        type="text"
                        [(ngModel)]="editPack.description"
                        name="description"
                        placeholder="Description"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                        required
                />
            </div>
            <div class="mb-4">
                <input
                        type="number"
                        [(ngModel)]="editPack.price"
                        name="price"
                        placeholder="Price"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                        required
                />
            </div>
            <div *ngIf="updateErrorMessage" class="text-red-500 mb-4">
                {{ updateErrorMessage }}
            </div>
            <div class="flex justify-end space-x-4">
                <button
                        type="submit"
                        class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-400"
                >
                    Update
                </button>
                <button
                        type="button"
                        class="px-4 py-2 bg-gray-300 rounded-lg hover:bg-gray-200"
                        (click)="closeUpdateModal()"
                >
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Delete Modal -->
<div *ngIf="showDeleteModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white rounded-lg shadow-lg p-6 w-96">
        <h2 class="text-lg font-semibold mb-4">Delete Pack</h2>
        <p class="mb-4">Are you sure you want to delete this pack?</p>
        <div *ngIf="generalErrorMessage" class="text-red-500 mb-4">
            {{  generalErrorMessage }}
        </div>
        <div class="flex justify-end space-x-4">
            <button
                    class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-400"
                    (click)="onDeletePack()"
            >
                Delete
            </button>
            <button
                    class="px-4 py-2 bg-gray-300 rounded-lg hover:bg-gray-200"
                    (click)="closeDeleteModal()"
            >
                Cancel
            </button>
        </div>
    </div>
</div>
<app-footer></app-footer>
