<div class="bg-white border-b border-blue-300 p-4 shadow-sm fixed top-0 left-0 w-full z-10">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
        <div class="text-blue-600 font-bold text-xl">
            Darkoum Voyage
        </div>
        <nav> <ul class="flex space-x-6">
            <li><a class="text-blue-600 hover:text-blue-500 font-medium" routerLink="/dashboard">Dashboard</a></li>
            <li><a class="text-blue-600 hover:text-blue-500 font-medium" routerLink="/provider">Providers</a></li>
            <li><a class="text-blue-600 hover:text-blue-500 font-medium" routerLink="/client">Clients</a></li>
            <li><a class="text-blue-600 hover:text-blue-500 font-medium" routerLink="/pack">Packs</a></li>
            <li><a class="text-blue-600 hover:text-blue-500 font-medium" routerLink="/article">Articles</a></li>
        </ul>
        </nav>
        <button
                class="px-6 py-2 border border-blue-500 hover:bg-blue-500 text-blue-500 hover:text-white transition duration-300 rounded-lg font-medium"
                (click)="onLogout()"
        >
            Logout
        </button>
    </div>
</div>